<!DOCTYPE html>
<html>
<head>
	<link rel="apple-touch-icon-precomposed" sizes="57x57"
		  href="{{ url_for('static', filename='favicons/apple-touch-icon-57x57.png') }}"/>
	<link rel="apple-touch-icon-precomposed" sizes="114x114"
		  href="{{ url_for('static', filename='favicons/apple-touch-icon-114x114.png') }}"/>
	<link rel="apple-touch-icon-precomposed" sizes="72x72"
		  href="{{ url_for('static', filename='favicons/apple-touch-icon-72x72.png') }}"/>
	<link rel="apple-touch-icon-precomposed" sizes="144x144"
		  href="{{ url_for('static', filename='favicons/apple-touch-icon-144x144.png') }}"/>
	<link rel="apple-touch-icon-precomposed" sizes="60x60"
		  href="{{ url_for('static', filename='favicons/apple-touch-icon-60x60.png') }}"/>
	<link rel="apple-touch-icon-precomposed" sizes="120x120"
		  href="{{ url_for('static', filename='favicons/apple-touch-icon-120x120.png') }}"/>
	<link rel="apple-touch-icon-precomposed" sizes="76x76"
		  href="{{ url_for('static', filename='favicons/apple-touch-icon-76x76.png') }}"/>
	<link rel="apple-touch-icon-precomposed" sizes="152x152"
		  href="{{ url_for('static', filename='favicons/apple-touch-icon-152x152.png') }}"/>
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicons/favicon-196x196.png') }}"
		  sizes="196x196"/>
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicons/favicon-96x96.png') }}"
		  sizes="96x96"/>
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicons/favicon-32x32.png') }}"
		  sizes="32x32"/>
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicons/favicon-16x16.png') }}"
		  sizes="16x16"/>
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicons/favicon-128.png') }}"
		  sizes="128x128"/>
	<meta name="application-name" content="&nbsp;"/>
	<meta name="msapplication-TileColor" content="#FFFFFF"/>
	<meta name="msapplication-TileImage" content="{{ url_for('static', filename='favicons/mstile-144x144.png') }}"/>
	<meta name="msapplication-square70x70logo" content="{{ url_for('static', filename='favicons/mstile-70x70.png') }}"/>
	<meta name="msapplication-square150x150logo"
		  content="{{ url_for('static', filename='favicons/mstile-150x150.png') }}"/>
	<meta name="msapplication-wide310x150logo"
		  content="{{ url_for('static', filename='favicons/mstile-310x150.png') }}"/>
	<meta name="msapplication-square310x310logo"
		  content="{{ url_for('static', filename='favicons/mstile-310x310.png') }}"/>

	<title>And/Ore - v1.4.9.0 - Benevolent Bearded Dragon Beta</title>

	<!--
	<link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
	-->
	<link rel="stylesheet" type="text/css"
		  href="{{ url_for('static', filename='shared/external/css/materialize.min.css') }}">

	<link rel="stylesheet" type="text/css"
		  href="{{ url_for('static', filename='shared/internal/gameClient/css/style.css') }}">
</head>
<body>
<div id="game">
	<div class="row" id="game-row">
		<div class="col s10" id="gameview">
			<div id="worldview" tabindex="1"></div>
		</div>
		<div class="col s2" id="help">
			<div class="">
				<a href="/">
					<img src="{{ url_for('static', filename='shared/internal/img/Logo-Lossy.png') }}" id="andore-logo">
				</a>
			</div>
			<div class="">
				<p><b>System: <span id="currentNodeName">Connecting...</span></b></p>
			</div>
			<div class="">
				<div class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Region Connection Status"
					 id="box_node"></div>
				<div class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Sleipnir Connection Status"
					 id="box_sleipnir"></div>
			</div>
			<div class="">
				<p><b>RTL: <span id="rtl">-0</span>ms</b></p>

				<hr>

				<p><span id="number-of-players-online">?</span> Player(s) Online</p>

				<hr>

				<p>You are in <b><span id="infoModeMeaning">move</span></b> mode</p>

				<hr>

				<p>Found a bug? Have an idea for a feature? Please create an issue</p>
				<a class="github-button" href="https://github.com/baxter-oop/AndOre/issues"
				   data-icon="octicon-issue-opened" data-style="mega"
				   data-count-api="/repos/baxter-oop/AndOre#open_issues_count"
				   data-count-aria-label="# issues on GitHub" aria-label="Issue baxter-oop/AndOre on GitHub">Issue</a>

				<hr>

				<a class="github-button" href="https://github.com/baxter-oop/AndOre/fork"
				   data-icon="octicon-repo-forked" data-style="mega" data-count-href="/baxter-oop/AndOre/network"
				   data-count-api="/repos/baxter-oop/AndOre#forks_count" data-count-aria-label="# forks on GitHub"
				   aria-label="Fork baxter-oop/AndOre on GitHub">Help Develop: Fork</a>

				<hr>

				<p>Region Version: <a href="#" id="region-git-version-link"><span
					id="region-git-version-text">------</span></a></p>
				<p>Sleipnir Version: <a href="#" id="sleipnir-git-version-link"><span id="sleipnir-git-version-text">------</span></a>
				</p>
				<p>Client Version: <a href="#" id="client-git-version-link"><span
					id="client-git-version-text">------</span></a></p>
			</div>
		</div>
	</div>
	<div class="row" id="stats-row">
		<div class="col s4" id="stats-1">
			<b>Inventory</b>
			<hr>
			<p id="inventory"></p>
		</div>
		<div class="col s4" id="stats-2">
			<b>Player Stats</b>
			<hr>
			<div class="row">
				<div class="col s6">
					<p>Health: <span id="statHealth">0</span>/<span id="statHealthCap">100</span></p>
					<p>Attack Power: <span id="statAttackPower">10</span></p>
					<p>Row: <span id="statRow">0</span> Column: <span id="statCol">0</span></p>
					<p>Modifier Key: <span id="statModifierKey">m</span></p>
				</div>
				<div class="col s6">
					<p>Corp Wallet: <span id="statOre">0</span> Ore</p>
					<p>Mining Multiplier: <span id="statOreMultiplier">1</span>x</p>
					<p>Server Tick #: <span id="statWorldAge"></span></p>
					<p>Secondary Modifier Key: <span id="statSecondaryModifierKey">1</span></p>
				</div>
			</div>
		</div>
		<div class="col s4" id="stats-3">
			<div>
				<div id="chatBoxContent">

				</div>
			</div>
			<div>
				<div>
					<span id="chatBoxStatus">Connecting...</span>
				</div>
				<div id="chatInput">
					<input type="text" id="chatBoxInput" disabled="disabled" tabindex="2"/>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="{{ url_for('static', filename='shared/external/js/jquery-2.1.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='shared/external/js/materialize.min.js') }}"></script>

<script src="{{ url_for('static', filename='shared/external/js/googleAnalytics.js') }}"></script>
<!--<script src="{{ url_for('static', filename='shared/internal/gameClient/js/testData.js') }}"></script>-->
<script src="{{ url_for('static', filename='shared/external/js/rl.js') }}"></script>
<script src="{{ url_for('static', filename='shared/internal/gameClient/js/ai.js') }}"></script>
<script src="{{ url_for('static', filename='shared/internal/gameClient/js/Bengal.js') }}"></script>
<script src="{{ url_for('static', filename='shared/internal/gameClient/js/view.js') }}"></script>
<script src="{{ url_for('static', filename='shared/internal/gameClient/js/app.js') }}"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
