<html>
	<head>
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="static/favicons/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/favicons/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/favicons/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/favicons/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="static/favicons/apple-touch-icon-60x60.png" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="static/favicons/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="static/favicons/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="static/favicons/apple-touch-icon-152x152.png" />
        <link rel="icon" type="image/png" href="static/favicons/favicon-196x196.png" sizes="196x196" />
        <link rel="icon" type="image/png" href="static/favicons/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/png" href="static/favicons/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="static/favicons/favicon-16x16.png" sizes="16x16" />
        <link rel="icon" type="image/png" href="static/favicons/favicon-128.png" sizes="128x128" />
        <meta name="application-name" content="&nbsp;"/>
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        <meta name="msapplication-TileImage" content="static/favicons/mstile-144x144.png" />
        <meta name="msapplication-square70x70logo" content="static/favicons/mstile-70x70.png" />
        <meta name="msapplication-square150x150logo" content="static/favicons/mstile-150x150.png" />
        <meta name="msapplication-wide310x150logo" content="static/favicons/mstile-310x150.png" />
        <meta name="msapplication-square310x310logo" content="static/favicons/mstile-310x310.png" />

        <title>And/Ore</title>

		<link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">

		<script src="{{ url_for('static', filename='shared/external/js/jquery-2.1.1.min.js') }}"></script>

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='shared/external/css/materialize.min.css') }}">
		<script src="{{ url_for('static', filename='shared/external/js/materialize.min.js') }}"></script>

		<script src="{{ url_for('static', filename='shared/gameClient/js/testData.js') }}"></script>
		<script src="{{ url_for('static', filename='shared/external/js/rl.js') }}"></script>
		<script src="{{ url_for('static', filename='shared/gameClient/js/ai.js') }}"></script>
		<script src="{{ url_for('static', filename='shared/gameClient/js/view.js') }}"></script>
		<script src="{{ url_for('static', filename='shared/gameClient/js/app.js') }}"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='shared/gameClient/css/style.css') }}">

        <script async defer src="https://buttons.github.io/buttons.js"></script>

	</head>
	<body>
        <!-- Modal Structure -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <div class="row">
                    <h4>Welcome to And/Ore</h4>
                    <hr>
                    <div class="col s6">
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="And" id="login_username" type="text" class="validate">
                                <label for="login_username">Username</label>
                            </div>
                            <div class="input-field col s12">
                                <input placeholder="Ore" id="login_password" type="password" class="validate">
                                <label for="login_password">Password</label>
                            </div>
                            <a class="waves-effect waves-light btn col s4" id="login">Login</a>
                        </div>
                    </div>
                    <div class="col s6">
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="And" id="signup_username" type="text" class="validate">
                                <label for="signup_username">Username</label>
                            </div>
                            <div class="input-field col s12">
                                <input placeholder="Ore" id="signup_password" type="password" class="validate">
                                <label for="signup_password">Password</label>
                            </div>
                            <a class="waves-effect waves-light btn col s4" id="signup">Signup</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <p style="font-size: 9px" class="center">

                </p>
            </div>
        </div>
        <!-- Modal Structure -->
        <div id="modal2" class="modal">
            <div class="modal-content">
                <div class="row">
                    <h4>Welcome to And/Ore</h4>
                    <hr>
                    <div class="col s6">
                        <a class="waves-effect waves-light btn" id="rejoin_game">ReJoin Game</a>
                    </div>
                    <div class="col s6">
                        <a class="waves-effect waves-light btn" id="start_anew">Start Anew</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <p style="font-size: 9px" class="center">

                </p>
            </div>
        </div>
        <div class="row">
            <div id="worldview" class="col s10 walls">

            </div>
            <div class="col s2">
                <div class="walls">
                    <p><b>System: <span id="currentNodeName">Connecting...</span></b></p>
                </div>
                <div class="walls">
                    <p><b>Action Log</b></p>
                </div>
                <div class="walls">
                    <p><b>Info</b></p>
                    <hr>
                    <p>You are in <b><span id="infoModeMeaning">move</span></b> mode</p>
                    <hr>
                    <p>Found a bug? Have an idea for a feature? Please create an issue</p>
                    <a class="github-button" href="https://github.com/baxter-oop/AndOre/issues" data-icon="octicon-issue-opened" data-style="mega" data-count-api="/repos/baxter-oop/AndOre#open_issues_count" data-count-aria-label="# issues on GitHub" aria-label="Issue baxter-oop/AndOre on GitHub">Issue</a>
                    <hr>
                    <a class="github-button" href="https://github.com/baxter-oop/AndOre/fork" data-icon="octicon-repo-forked" data-style="mega" data-count-href="/baxter-oop/AndOre/network" data-count-api="/repos/baxter-oop/AndOre#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork baxter-oop/AndOre on GitHub">Help Develop: Fork</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s4 walls">
                <b>Inventory</b>
                <hr>
                <p id="inventory"></p>
            </div>
            <div class="col s4 walls">
                <b>Player Stats</b>
                <hr>
                <div class="row">
                    <div class="col s6">
                        <p>Health: <span id="statHealth">0</span>/<span id="statHealthCap">100</span></p>
                        <p>Attack Power: <span id="statAttackPower">10</span></p>
                        <p>Row: <span id="statRow">0</span> Column: <span id="statCol">0</span></p>
                        <p>Modifier Key: <span id="statModifierKey">m</span></p>
                    </div>
                    <div class="col s6">
                        <p>Corp Wallet: <span id="statOre">0</span> Ore</p>
                        <p>Mining Multiplier: <span id="statOreMultiplier">1</span>x</p>
                        <p>Server Tick #: <span id="statWorldAge"></span></p>
                        <p>Secondary Modifier Key: <span id="statSecondaryModifierKey">1</span></p>
                    </div>
                </div>
            </div>
            <div id="chatDiv" class="col s4 walls" style="overflow: auto">
                <p>Global Chat</p>
            </div>

        </div>
	</body>
</html>
