<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">

		<script src="static/external/jquery-2.1.1.min.js"></script>

		<link rel="stylesheet" type="text/css" href="static/external/materialize.min.css">
		<script src="static/external/materialize.min.js"></script>

		<script src="static/script/testData.js"></script>
		<script src="static/external/rl.js"></script>
		<script src="static/script/ai.js"></script>
		<script src="static/script/view.js"></script>
		<script src="static/script/app.js"></script>
		<link rel="stylesheet" type="text/css" href="static/style.css">
	</head>
	<body>
        <div class="row">
            <div id="worldview" class="col s10 walls">

            </div>
            <div class="col s2 walls">
                <p>Action Log</p>
            </div>
        </div>
        <div class="row">
            <div class="col s4 walls">
                <b>Inventory</b>
                <hr>
                <p id="inventory"></p>
            </div>
            <div class="col s4 walls">
                <b>Player Stats</b>
                <hr>
                <p>Health: <span id="statHealth">0</span>/<span id="statHealthCap">100</span></p>
            </div>
            <div class="col s4 walls">Possible Actions</div>
        </div>
	</body>
</html>