#worldview {
    /*#display: block;*/
    font-family: 'Ubuntu Mono', monospace;
    /*#white-space: pre;*/
    /*margin: 1em 0;*/
}

.walls {
    border-width: 2px;
    border-style: inset;
}

.cell {
    display: inline-block;
    width: 1.8%;
    height: 3.22%;
    text-align: center;
    vertical-align: middle;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
}

#chatBox {
  border-width: 2px;
  border-style: inset;
  overflow: auto;
}

#chatBoxContent {
  height: 8em;
}

#box {
  background-color: #ff1400;
  height: 100px;
  width: 100px;
}